<div class="form-inline clearfix">
	<div class="nested-links">
		<%= f.label :step %>
		<%= f.text_field :step, class: "form-input form-control" %>
		<%= link_to_remove_association "Remove Step",f, class: "btn btn-default form-button" %>
	</div>
</div>
