<div class="row">
	<div class="col-md-8 offset-md-2">
		<h3><%= @recipe.comments.count %> Comments</h3>
		<% if !user_signed_in? %>
			<small><%= link_to "Sign in", new_user_session_path %> to comment</small>
		<% end %>
		<div id="render-comments">
			<%= render @recipe.comments %>
		</div>
		<% if user_signed_in? %>
			<h3>Add Comment: </h3>
			<%= render 'comments/form' %>
		<% end %>
	</div>
</div>
