<div class="row">
  <div class="col-md-6 offset-md-1">
    <h1>Users</h1>
    <% User.all.each.with_index(1) do |user,i| %>
      <h2><%=i%>. <%= link_to user.email, user_path(user) %></h2>
    <% end %>
  </div>
</div>
